$main: #25AAE1;
$second: #0185BC;
$extra: #8ACEF2;
$white: #fff;
$light: #e1e1e1;
$blue-grandient: linear-gradient(90deg, #00a3e0, #005f8a);

$main-font: "Poppins", sans-serif;
$second-font: "Montserrat", sans-serif;